<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MelbourneWeather2Soap11Binding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="MelbourneWeather2Soap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://viper.infotech.monash.edu.au:8180/axis2/services/MelbourneWeather2.MelbourneWeather2HttpSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="MelbourneWeather2Soap11Binding"
                contract="MelborneWeatherService.MelbourneWeather2PortType"
                name="MelbourneWeather2HttpSoap11Endpoint" />
            <endpoint address="http://viper.infotech.monash.edu.au:8180/axis2/services/MelbourneWeather2.MelbourneWeather2HttpSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="MelbourneWeather2Soap12Binding"
                contract="MelborneWeatherService.MelbourneWeather2PortType"
                name="MelbourneWeather2HttpSoap12Endpoint" />
        </client>
    </system.serviceModel>
</configuration>